* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#play {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#board {
    background-color: #ffffff;
    width: 580px;
    height: 580px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

#title {
    color: orange;
    font-size: 40px;
    padding: 10px;
}